<!-- 
  Author: Kamailah Quiocho
  File Name: styles.css
  Date: 10/19/2025 
-->
header h1 { 
  font-size: 3em;
  font-family: Georgia, Times, serif;
  padding: 3%;
  color: 255, 182, 193;
  text-align: center; 
}
